In [1]:
#from wrangler import statswrangler.outlierdrop as m1
import pandas as pd
import numpy as np
import wrangler.statswrangler.outlierdrop as mod1
import wrangler.statswrangler.training as mod2

In [2]:
df = pd.read_csv("train.csv") #read example data train.csv
d = df[0:100] #use only 100 rows for easy visualization
d1 = d["SalePrice"]

In [10]:
mod1.Data(d1,d).Outliers()
#returns the index of the outliers and the outliers itself as a tuple

([11, 53, 58], [345000, 385000, 438780])

In [4]:
mod1.Dropped(d1,d).Outliers()
#Inheritance so the dropped object also has the Outliers function

([11, 53, 58], [345000, 385000, 438780])

In [5]:
threshold = 0.1*len(d)
#suppose we say that we only want to drop no more than 10% of the data if they are outliers
dataframe = mod1.Dropped(d1,d,threshold).DropOutliers()

#The function DropOutliers removes the rows with outliers by index 
dataframe.head(20)
#Clearly we see that index 11 is now removed
dataframe[48:56] # we can see that 53 is removed as well

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
49,50,20,RL,66.0,7742,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,1,2007,WD,Normal,127000
50,51,60,RL,NaN,13869,Pave,NaN,IR2,Lvl,AllPub,...,0,NaN,NaN,NaN,0,7,2007,WD,Normal,177000
51,52,50,RM,52.0,6240,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,Shed,400,9,2006,WD,Normal,114500
52,53,90,RM,110.0,8472,Grvl,NaN,IR2,Bnk,AllPub,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,110000
54,55,80,RL,60.0,7134,Pave,NaN,Reg,Bnk,AllPub,...,0,NaN,MnPrv,NaN,0,2,2007,WD,Normal,130000
55,56,20,RL,100.0,10175,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,7,2008,WD,Normal,180500
56,57,160,FV,24.0,2645,Pave,Pave,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2009,WD,Abnorml,172500
57,58,60,RL,89.0,11645,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2006,WD,Normal,196500

In [8]:
train1, test1 = mod2.TrainingData(d).SplitTrain()
#This uses default 50:50 training data and test data
#returns a tuple (train, test)

train2, test2 = mod2.TrainingData(d, percentage = 0.8).SplitTrain()
#change percentage of training to 80% 

print(len(train1))
print(len(test1))

print(len(train2))
print(len(test2))

train1.head(3)

50
50
80
20

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
50,22,45,RM,57.0,7449,Pave,Grvl,Reg,Bnk,AllPub,...,0,NaN,GdPrv,NaN,0,6,2007,WD,Normal,139400
51,48,20,FV,84.0,11096,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,7,2007,WD,Normal,249700
52,21,60,RL,101.0,14215,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,11,2006,New,Partial,325300

In [9]:
test1.head(3)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,15,20,RL,NaN,10920,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,GdWo,NaN,0,5,2008,WD,Normal,157000
1,27,20,RL,60.0,7200,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,134800
2,20,20,RL,70.0,7560,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,5,2009,COD,Abnorml,139000